<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
      <hr style="height:2px;border-width:0;color:gray;background-color:white">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Sitemap</a></li>
            <li class="list-inline-item"><a href="#">Privacy Notice</a></li>
        </ul>
        <p class="copyright">Company Name © DeepAI 2021</p>
    </footer>
</div>
